@use "variables" as *;
@use "mixins" as mixin;

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  padding: $space-md;
  background-color: $bg-color;
}

* {
  margin: 0;
  padding: 0;
}
